<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyYoutube</title>
    <link rel="icon" href="{{ url_for('static', filename='youtube.ico') }}" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="../static/css/card.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <nav class="bg-blue-500 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="#" class="text-white text-xl font-semibold">My Youtube </a><img src="../static/youtube.ico" height="30px" width="30px" />
            <a href="#" class="text-white hover:text-gray-200"><i class="fas fa-info-circle"></i>About Us</a>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="message-container">
            {% for category, message in messages %}
                <div class="message {{ category | lower }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    
    <div class="flex justify-center items-center h-screen">
        <div class="bg-white p-8 rounded shadow-md w-96">
            <h2 class="text-2xl font-semibold mb-4">Sign Up</h2>
            <form action="/signup" method="POST">
                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                    <input type="text" id="username" name="username" class="mt-1 p-2 w-full border rounded focus:outline-none focus:shadow-outline" required autocomplete="off">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" id="email" name="email" class="mt-1 p-2 w-full border rounded focus:outline-none focus:shadow-outline" required autocomplete="off">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded focus:outline-none focus:shadow-outline" required autocomplete="off">
                </div>
                <div class="mb-4">
                    <label for="confirm-password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm_password" class="mt-1 p-2 w-full border rounded focus:outline-none focus:shadow-outline" autocomplete="off" required>
                </div>
                <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline">Sign Up</button>
            </form>
            <p class="mt-4 text-sm text-gray-600">Already have an account? <a href="/login" class="text-blue-500 hover:text-blue-600">Login</a></p>
        </div>
    </div>
    <!-- Include Font Awesome icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
